<div class="upload-container">
  <div class="pb-3">
    <h3 class="mr-3">Select the file to upload</h3>
  </div>
  <div>
    <input
      #fileInput
      type="file"
      class="btn btn-primary"
      (change)="setFileInfo($event)"
    />
  </div>
  <div *ngIf="fileDetails" class="pt-3">
    <button class="btn btn-primary" (click)="handleFileUpload(fileDetails)">
      Upload file
    </button>
  </div>
  <div
    *ngIf="isFileTypePDF === false"
    class="alert alert-danger mt-3"
    role="alert"
  >
    Please upload only PDF files
  </div>
  <div
    *ngIf="isFileSizeMoreThan50kb"
    class="alert alert-danger mt-3"
    role="alert"
  >
    Please upload PDF files less than 50 kB
  </div>
  <div *ngIf="isUploadSuccess" class="alert alert-success mt-3" role="alert">
    Uploaded successfully!
  </div>
  <div
    *ngIf="fileDetails && isUploadSuccess === false"
    class="alert alert-danger mt-3"
    role="alert"
  >
    Upload failed. Please try again.
  </div>
</div>
